
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #898989;
}
.table-row-cell:selected {
   -fx-background-color: whitesmoke; 
   -fx-text-background-color:  #6622CC;
   
       
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-row-cell:selected {
    -fx-background-color: #84C386;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}